<% provide(:title, 'About') %>
<h1>About</h1>
<p>CodeTwits is a communication tool for hackers by Juan Figuera</p>

<p>CodeTwits is based on <a href="http://ruby.railstutorial.org/">Michael Hartl's AWESOME Ruby on Rails Tutorial </a></p>